# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.venv/

# Env
.env
*.env

# GCP credentials
credentials.json
service-account*.json
*-sa-key.json

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl

# VSCode
.vscode/

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
